<?xml version="1.0" encoding="UTF-8"?>
<!-- https://docs.phpunit.de/en/11.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         stopOnFailure="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache">
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>

    <server name="SHELL_VERBOSITY" value="-1"/>
    <server name="SMOKE_TESTING_ROUTES_METHODS" value="off" />

    <server name="KERNEL_CLASS" value="App\Kernel" />
    <server name="APP_ENV" value="test" force="true"/>
    <server name="APP_DEBUG" value="false"/> <!-- set this to false on your CI to speed up tests by 2x -->
    <server name="BROWSER_ALWAYS_START_WEBSERVER" value="1"/>

  </php>

  <coverage includeUncoveredFiles="true"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
  </coverage>

  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <!-- Run `composer require symfony/panther` before enabling this extension -->
  <!--
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
    -->

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
